.Navigation {
    display: flex;
    align-items: center;
    margin-inline-start: auto;
    height: 100%;

    &-List {
        display: flex;
        margin-block: auto;
        padding-inline-start: 0;
    }

    &-ListItem {
        // margin-inline-start: 32px;
        padding-inline: 16px;
        padding-block: 8px;
        list-style-type: none;
        font-size: 18px;
        transition: all 0.2s;

        a {
            display: block;
            height: 100%;
            text-decoration: none;
            color: var(--color-primary-content);
        }

        &_isActive {
            a {
                color: var(--color-theme);
            }
        }

        &:hover {
            background-color: antiquewhite;
        }
    }
}