.Notification {
    height: 200px;
    background-color: dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        width: fit-content;
    }

    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding-inline: 32px;
    // padding-block: 8px;
    // position: absolute;
    // top: var(--header-height);
    // inset-inline: 0;
    // opacity: 0;
    // pointer-events: none;
    // transform: translateY(var(--header-height));
    // transition: opacity 0.2s, transform 0.2s;

    // @include mobile {
    //     background-color: var(--color-success-background);
    //     color: var(--color-success-foreground);
    // }

    // p {
    //     margin-block: 0;
    //     opacity: 0;
    // }

    // &_isExpanded {
    //     opacity: 1;
    //     pointer-events: all;
    //     transform: translateY(0);

    //     p {
    //         opacity: 1;
    //     }
    // }

    // &_informative {
    //     background-color: var(--color-neutral-background);
    //     color: var(--color-neutral-foreground);
    // }

    // &_success {
    //     background-color: var(--color-success-background);
    //     color: var(--color-success-foreground);
    // }

    // &_warning {
    //     background-color: var(--color-warning-background);
    //     color: var(--color-warning-foreground);
    // }

    // &_error {
    //     background-color: var(--color-error-background);
    //     color: var(--color-error-foreground);
    // }
}