.Notification {
    position: fixed;
    inset-block-start: var(--header-height);
    inset-inline: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    padding-inline: clamp(var(--content-padding), 20vw, 480px);
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.2s;

    &.visible:not(.fading) {
        transform: translateY(0);
        opacity: 1;
    }

    &_INFO {
        background-color: rgb(0, 131, 218);
    }

    &_SUCCESS {
        background-color: green;
    }

    &_WARNING {
        background-color: orange;
    }

    &_ERROR {
        background-color: red;
    }

    p {
        width: fit-content;

        @include mobile {
            width: 100%;
            text-align: center;
        }
    }

    .Icon {
        width: 40px;
        height: 40px;
        padding: 8px;
        display: flex;
        align-items: center;

        svg {
            padding: 0;
            width: 100%;
            height: 100%;
            margin: 0;
        }

        // margin: 8px;
    }


    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding-inline: 32px;
    // padding-block: 8px;
    // position: absolute;
    // top: var(--header-height);
    // inset-inline: 0;
    // opacity: 0;
    // pointer-events: none;
    // transform: translateY(var(--header-height));
    // transition: opacity 0.2s, transform 0.2s;

    // @include mobile {
    //     background-color: var(--color-success-background);
    //     color: var(--color-success-foreground);
    // }

    // p {
    //     margin-block: 0;
    //     opacity: 0;
    // }

    // &_isExpanded {
    //     opacity: 1;
    //     pointer-events: all;
    //     transform: translateY(0);

    //     p {
    //         opacity: 1;
    //     }
    // }

    // &_informative {
    //     background-color: var(--color-neutral-background);
    //     color: var(--color-neutral-foreground);
    // }

    // &_success {
    //     background-color: var(--color-success-background);
    //     color: var(--color-success-foreground);
    // }

    // &_warning {
    //     background-color: var(--color-warning-background);
    //     color: var(--color-warning-foreground);
    // }

    // &_error {
    //     background-color: var(--color-error-background);
    //     color: var(--color-error-foreground);
    // }
}